<h1>About</h1>
<!DOCTYPE html>
<html>
<head>
  <title>ヘルプページ | Fujihalab logger</title>
</head>
<body>
<h1>helpページ</h1>
<p>なんかあったら私のslackか<a href="https://twitter.com/2357gi">twitter</a>に声かけて。 </p>
</body>
</html>
