<%provide(:title, "入退室情報") %>
<h1>入退室情報</h1>
<p>現在の入退室情報です。適当にリロードしてください。</p>
<table>
  <thread>
    <tr>
      <th>氏名</th>
      <th>ステータス</th>
      <th>総滞在時間</th>
    </tr>
  </thread>
  <% @students.each do |student| %>
  <tbody>
    <td><%= student.name %> </td>
    <td><%= student.status %></td>
    <td> <%= student.total / 60 %></td>
  <% end %>
  </tbody>
</table>
<p>が入室しています。</p>

